.button{
    background-color: #aa80cb;
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
    height: 4.5rem;
    width: auto;

    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    transition: all 0.2s ease;
}

.button:hover{
    background-color: #8968a3;
    cursor: pointer;
}